.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

.courseName {
  grid-column: 1/3;
}

.main {
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  margin-bottom: 1.5em;
}

.main::-webkit-scrollbar,
.movieCards::-webkit-scrollbar {
  display: none;
}
