.link {
  background: var(--primary-color);
  color: var(--contrast-text-color);
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
