.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 4fr auto;
}

.greatingName {
  font-weight: bold;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.courseChoiceBlock {
  background-color: hotpink;
}
