.button {
  color: var(--contrast-text-color);
  background: var(--primary-color);
  font-size: 2em;
  font-weight: bold;
  border: none;
  border-radius: 0.5em 0.5em 0 0;
  width: 100%;
  padding: 1em 1.5em;
}

:disabled {
  color: #afa1bf;
  opacity: 0.3;
  cursor: default;
}
