.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--primary-color);
  justify-items: center;
  row-gap: 6em;
}

.logo {
  margin: 3em auto;
}

.main {
  width: 75%;
  max-width: 500px;
}

.form {
  display: grid;
  grid-template-rows: auto auto 20% auto;
  align-items: center;
  row-gap: 0.75em;
}

.form__text {
  color: var(--background-color);
  padding-bottom: 2.5em;
  align-self: start;
}

.link {
  background: var(--background-color);
  color: var(--primary-color);
  font-weight: 900;
  font-size: 2em;
  border: none;
  border-radius: 0.5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}
