@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.05em;

  /* COLORS */
  --primary-color: #6446b8;
  --secondary-color: #f2edfe;
  --text-color: #707070;
  --contrast-text-color: #fff;
  --background-color: #fff;
  --primary-border-color: #707070;

  /* SIZES */
  --font-size: 100%;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}
