*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: "Roboto", sans-serif;

  /* COLORS */
  --primary-color: #6446b8;
  --secondary-color: #f2edfe;
  --text-color: #707070;
  --contrast-text-color: #fff;
  --background-color: #fff;
  --primary-border-color: #707070;

  /* SIZES */
  --font-size: 100%;
}
