.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1.5em;
  padding-top: 5%;
  width: 90%;
  margin: auto;
}
.greatingName {
  font-weight: bold;
}

.main {
  width: 90%;
  margin: auto;
}

.h1 {
  font-weight: bold;
}
