.courseChoiceChosen {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  column-gap: 0.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-family: var(--font-family);
}
