.header {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  margin: 0;
  padding: 0;
  width: 80%;
}

.header__image {
  grid-column: 1/2;
  grid-row: 1/4;
}

.header__text {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-column: 2/3;
}

.header__body {
  margin-bottom: 0.25em;
}

.header__classes {
  display: flex;
  align-items: center;
  column-gap: 0.1em;
}
