.container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5em;
  margin: 0;
  padding: 0;
}

.desc {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.text {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-left: 1em;
}

.instructor {
  grid-row: 2/3;
}

.class {
  grid-column: 1/2;
  align-self: center;
  padding-top: 1em;
}

.classballs {
  grid-column: 2/3;
  margin-left: 1em;
  padding-top: 1em;
}
