.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

.main {
  background-color: var(--primary-color);
  border-radius: 20px 20px 0 0;
  overflow: scroll;
}

.cards {
  display: grid;
  grid-row-gap: 1em;
  margin-top: 1em;
}

.main::-webkit-scrollbar,
.movieCards::-webkit-scrollbar {
  display: none;
}
